[Unit]
Description=DittoKiller Clipboard Manager
After=graphical-session.target

[Service]
Type=simple
WorkingDirectory=%ROOT_DIR%
ExecStart=%PYTHON_EXEC% %ROOT_DIR%/main.py
Restart=always
RestartSec=5
Environment=DISPLAY=:0
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
