name: Build Application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build with PyInstaller
      run: |
        pyinstaller --name DittoKiller --onefile --windowed --noconsole --hidden-import "pynput.keyboard._xorg" --hidden-import "pynput.mouse._xorg" main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: DittoKiller-${{ matrix.os }}
        path: |
          dist/DittoKiller*
